<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github-edferron-dd" value="https://nuget.pkg.github.com/edferron-dd/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github-edferron-dd>
      <add key="Username" value="edferron-dd" />
      <add key="ClearTextPassword" value="YOUR_GITHUB_TOKEN" />
    </github-edferron-dd>
  </packageSourceCredentials>
</configuration>
